@(messageForm: Form[(String, String)])(implicit flash: Flash, session: Session)
@import helper._
@import fieldconstructor.TwitterBootstrapFieldConstructors._
@main() {
    @form(routes.Admin.broadcast) {
        @inputText(
            messageForm("title"),
            '_label -> "Title",
            '_help -> "May be empty.",'class -> "input-xlarge"
        )
        @textarea(
            messageForm("content"),
            'rows -> 10,
            '_label -> "Message",
            '_error -> messageForm.error("content"),'class -> "input-xlarge"
        )

        <button class="btn btn-primary" type="submit">Send</button>
    }
}
