@(userform: Form[(java.util.Date, String, Boolean, Boolean)], user: models.User)(implicit session: Session, flash: Flash)
@import helper._
@import fieldconstructor.TwitterBootstrapFieldConstructors._

@main(){
    @form(routes.Admin.editUser(user.id)) {
        <h3>Edit @user.username</h3>

        @inputDate(
            userform("bday"),
            '_label -> "Date of Birth",'class -> "input-xlarge"
        )

        @textarea(
            userform("about"),
            '_label -> "About you",
            'rows -> 10 ,'class -> "input-xlarge"
        )

        @checkbox(
            userform("anonym"),
            '_label -> "Anonym?",
            '_help -> "Wanna be anonym?",'class -> "input-xlarge"
        )

        @checkbox(
            userform("admin"),
            '_label -> "Is Admin?",
            '_help -> "Wanna be admin?" ,'class -> "input-xlarge"
        )
        <button type="submit" class="btn btn-primary">Save</button>
    }
}
