@(messages: List[models.PrivateMessage])(implicit request: play.api.mvc.Request[AnyContent], flash: Flash, session: Session)
@import etc._
@import play.api.i18n.Messages
@main(){
    @for(m <- messages) {
        <div>
            <a href="/users/me/pmessages/@m.id">@m.title</a> @Messages("from")
            @if(m.author.?) {
                <a href="/users/@(models.User.findOneById(m.author).get.username)">@(models.User.findOneById(m.author).get.username)</a>
            } else {
                NA
            }
            <a href="/users/me/pmessages/delete/@m.id.toString"><i class="icon-remove"></i></a>
        </div>
    }
}
