@(message: models.PrivateMessage)(implicit session:Session, flash: Flash)
@import controllers.BBCodeParser._
@import etc._
@import helper._
@import play.api.i18n.Messages
@main(){
    <h4>@message.title</h4>
    @Messages("from")
    @if(message.author.toString != "") {
        @if(message.author.?) {
            <a href="/users/@(models.User.findOneById(message.author).get.username)">@(models.User.findOneById(message.author).get.username)</a>
        } else {
            NA
        }
    } @Messages("on") @message.writeDate.normalize
    <div class="well" style="margin-top:2%;">
        @Html(message.content.escape)
    </div>
    @if(message.author.?) {
        <a class="btn btn-success" href="/users/me/pmessages/reply/@message.id.toString">
            <i class="icon-arrow-left icon-white"></i>
            @Messages("reply")
        </a>
    }
}
