@(message: models.PrivateMessage)(implicit session:Session, flash: Flash)
@import controllers.BBCodeParser._
@import etc._
@import helper._
@import play.api.i18n.Messages
@main(){
    <h4>@message.title</h4>
    @Messages("from")
    @if(message.authorID > 0) {
        @if(message.authorID.?) {
            <a href="/users/@(models.User.findBy("id" -> message.authorID.toString).head.username)">@(models.User.findBy("id" -> message.authorID.toString).head.username)</a>
        } else {
            NA
        }
    } @Messages("on") @message.writtenAt.normalize
    <div class="well" style="margin-top:2%;">
        @Html(message.content.escape)
    </div>
    @if(message.authorID.?) {
        <a class="btn btn-success" href="/users/me/pmessages/reply/@message.id">
            <i class="icon-arrow-left icon-white"></i>
            @Messages("reply")
        </a>
    }
}
