@(userForm: Form[((String, String, String), java.util.Date, String, Boolean, Boolean)], user: models.User)(implicit flash: Flash, session: Session)
@import helper._
@import etc.Constructors._

@main() {
    @form(routes.Private.saveUser()){
        <h1>Editing @user.username</h1>
        <input type="hidden" name="user.username" value="@user.username" />
        @inputPassword(
            userForm("user.new"),
            '_label -> "New Password: ",'class -> "input-xlarge"
        )

        @inputPassword(
            userForm("user.old"),
            '_label -> "Old Password: ",
            '_help -> "Only needed when changing passwords.",
            '_error -> userForm.error("user"),'class -> "input-xlarge"
        )

        @inputDate(
            userForm("bday"),
            '_label -> "Date of Birth: ",'class -> "input-xlarge"
        )

        @textarea(
            userForm("about"),
            '_label -> "About you: ",
            'rows -> 10,'class -> "input-xlarge"
        )

        @checkbox(
            userForm("anonym"),
            '_label -> "Anonym?",
            '_help -> "",'class -> "input-xlarge"
        )
        <button type="submit" class="btn btn-primary">Save</button>
    }
}
