@(pms: Long)(implicit request: play.api.mvc.Request[AnyContent], flash: Flash, session: Session)
@import play.api.Play.current
@import play.api.i18n.Messages
@main() {
      <script>
        ready.push('refreshMessagelist');
      </script>
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h3>Hello @request.session.get("user").get</h3>
        
        <p>Lorem ipsum ... and so on</p>
      </div>

      <div class="row">
        <div class="span4" id="pms">
          <h2>@Messages("private_messages")</h2>
          <ul></ul>
          <p><a class="btn" href="/users/pmessages/new">@Messages("write_one") &raquo;</a></p>
        </div>
      </div>
}
