@(messageForm: Form[(String, String)], to: Long)(implicit flash: Flash, session: Session)
@import helper._
@import fieldconstructor.TwitterBootstrapFieldConstructors._
@import play.api.i18n.Messages
@main() {
    @form(routes.Private.writeMessage(to)) {
        @inputText(
            messageForm("title"),
            '_label -> Messages("title"),
            'class -> "input-xlarge"
        )
        @textarea(
            messageForm("content"),
            'rows -> 10,
            '_label -> Messages("message"),
            '_error -> messageForm.error("content"),
            'class -> "input-xlarge"
        )

        <button type="submit" class="btn btn-primary">@Messages("send")</button>
    }
}
