@(user: models.User, keys: List[models.InvitationKey])(implicit session:Session, flash: Flash)
@import etc._
@import play.api.i18n.Messages
@main() {
    @userInfo(user)
    @for(key <- keys) {
        <p>@key.key_string</p>
    }
    @if(keys.length < 3) {
        @helper.form(routes.Private.createKey()){<button class="btn btn-mini btn-inverse" type="submit" style="margin-top:2%;">
            <i class="icon-lock icon-white"></i>
            @Messages("form.new_key")
        </button>}
    }
    <a class="btn btn-primary btn-small" href="/users/me/edit">
        <i class="icon-edit icon-white"></i>
        @Messages("edit_profile")
    </a>

    <div style="margin-top:3%;">
        @helper.form(routes.Private.deleteProfile()){
            <button class="btn btn-mini btn-danger" type="submit" style="margin-top:2%;">
                <i class="icon-ban-circle icon-white"></i>
                @Messages("delete")
            </button>
        }
    </div>
}
