@(loginForm: Form[(String, String)])(implicit flash: Flash, session: Session)
@import helper._
@import etc.Constructors._

@main() {
    @form(routes.Application.auth) {
        @if(loginForm.globalError != None) {
            <div class="alert alert-error">
                @loginForm.globalError.get.message
            </div>
        }
        @inputText(
            loginForm("username"),
            '_label -> "Username: ",
            '_help -> "Choose a valid username",
            'class -> "input-xlarge"
        )
        @inputPassword(
            loginForm("password"),
            '_label -> "Password: ",
            'class -> "input-xlarge"
        )
        <button type="submit" class="btn btn-primary">Login</button>
    }
}
