@(loginForm: Form[(String, String)])(implicit flash: Flash, session: Session)
@import helper._
@import fieldconstructor.TwitterBootstrapFieldConstructors._
@import play.api.i18n.Messages

@main() {
    @form(routes.Application.auth) {
        @if(loginForm.globalError != None) {
            <div class="alert alert-error">
                @loginForm.globalError.get.message
            </div>
        }
        @inputText(
            loginForm("username"),
            '_label -> Messages("username") ,
            'class -> "input-xlarge"
        )
        @inputPassword(
            loginForm("password"),
            '_label -> Messages("password") ,
            'class -> "input-xlarge"
        )
        <button type="submit" class="btn btn-primary">@Messages("login")</button>
    }
}
