@(user: models.User)(implicit flash: Flash, session: Session)
@import helper._
@import etc._
@import play.api.i18n.Messages
@main() {

    @userInfo(user)
    
    @if(session.get("user") != None) {

        @if(models.User.findOneByName(session.get("user").get).get.isFollowing(user.id)) {
            @form(routes.Relationships.unmark(user.username)) {
                <button class="btn btn-inverse btn-small" type="submit">
                    <i class="icon-star icon-white"></i>
                    @Messages("not_follow")
                </button>
            }
        } else {
            @form(routes.Relationships.mark(user.username)) {
                <button class="btn btn-inverse btn-small" type="submit">
                    <i class="icon-star icon-white-empty"></i>
                    @Messages("follow")
                </button>
            }
        }

        <a class="btn btn-success btn-small" href="/users/@user.username/pmessages/new">
            <i class="icon-envelope icon-white"></i>
            @Messages("write_message")
        </a>
    }
}
