@(user: models.User)(implicit flash: Flash, session: Session)
@import helper._
@main() {
    <h1>Profile of @user.username</h1>
    
    <div>
        Gender: @{user.sex match {
            case "q" => "Queer"
            case "m" => "Male"
            case "f" => "Female"
            case "n" => "No gender specified"
        }}
    </div>

    <div>
        Born on @user.dateOfBirth
    </div>

    <div>
        Wishes to die on @user.dateOfDeath
    </div>

    <div>
        About: @user.description
    </div>

    <div>
        Registered on @user.registrationDate
    </div>
    
    @if(session.get("user") != None) {

        @if(models.User.findBy("username" -> session.get("user").get).head.isMarking(user.id)) {
            @form(routes.Private.unmark(user.id)) {
                <button class="btn btn-inverse btn-small" type="submit">
                    <i class="icon-star icon-white"></i>
                    unmark
                </button>
            }
        } else {
            @form(routes.Private.mark(user.id)) {
                <button class="btn btn-inverse btn-small" type="submit">
                    <i class="icon-star icon-white-empty"></i>
                    mark
                </button>
            }
        }

        <a class="btn btn-success btn-small" href="/users/@user.username/pmessages/new">
            <i class="icon-envelope icon-white"></i>
            Write message
        </a>
    }
}
