@(user: models.User)(implicit flash: Flash, session: Session)
@import helper._
@menue() = @{
    session.get("user").map(u => privateMenue(session)).getOrElse(publicMenue())
}
@main(menue()) {
    <div>
        <h3>Profile of @user.username</h3>
    </div>
    <div>
        Gender: @{user.sex match {
            case "q" => "Queer"
            case "m" => "Male"
            case "f" => "Female"
            case "n" => "No gender specified"
        }}
    </div>

    <div>
        Born on @user.dateOfBirth
    </div>

    <div>
        Wishes to die on @user.dateOfDeath
    </div>

    <div>
        About: @user.description
    </div>

    <div>
        Registered on @user.registrationDate
    </div>
    
    @if(session.get("user") != None) {
        <a href="/users/@user.username/messages/new">Write message</a>
        @if(models.User.findBy("username" -> session.get("user").get).first.isMarking(user.id)) {
            @form(routes.Private.unmark(user.id)) {
                <input type="submit" value="unmark"/>
            }
        } else {
            @form(routes.Private.mark(user.id)) {
                <input type="submit" value="mark"/>
            }
        }
    }
}