@()(content: Html)(implicit flash: Flash, session: Session)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome :: @(etc.fromConfig("app.name"))</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@(etc.fromConfig("app.name")) is a portal to find people which want to commit suicide with you.">

    <!-- Le globale variables -->
    <script>
      var ready = new Array();
    </script>

    <!-- Le styles -->
    <link href="@routes.Assets.at("css/bootstrap.css")" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="@routes.Assets.at("css/bootstrap-responsive.css")" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="@routes.Assets.at("ico/favicon.ico")" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@routes.Assets.at("ico/apple-touch-icon-114-precomposed.png")" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@routes.Assets.at("ico/apple-touch-icon-72-precomposed.png")" />
    <link rel="apple-touch-icon-precomposed" href="@routes.Assets.at("ico/apple-touch-icon-57-precomposed.png")" />
  </head>

  <body>
    @menue(session)
    
    <div class="container">
      @printFlash(flash)
      
      @content
      
      <hr>

      <footer>
        <div style="float: left;">
          @(etc.fromConfig("app.name")) is distributed under <a href="http://www.gnu.org/licenses/gpl.html">GNU General Public License v3</a>
        </div>
        <div style="float: right;">
          <iframe src="http://markdotto.github.com/github-buttons/github-btn.html?user=GeeksOfTheDusk&repo=ClosedSocialNetwork&type=watch&count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="62px" height="20px"></iframe>
          <iframe src="http://markdotto.github.com/github-buttons/github-btn.html?user=GeeksOfTheDusk&repo=ClosedSocialNetwork&type=fork"
            allowtransparency="true" frameborder="0" scrolling="0" width="53px" height="20px"></iframe>
          <iframe src="http://markdotto.github.com/github-buttons/github-btn.html?user=GeeksOfTheDusk&repo=ClosedSocialNetwork&type=follow"
            allowtransparency="true" frameborder="0" scrolling="0" width="172px" height="20px"></iframe>
        </div>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="@routes.Assets.at("js/jquery.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap-collapse.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap-dropdown.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap-tab.js")"></script>
    <script src="@routes.Assets.at("js/csn.js")"></script>
  </body>
</html>
