@(user: models.User)
@import etc._
@import controllers.BBCodeParser._
@import helper._
@import play.api.i18n.Messages
<h1>@Messages("info.profile") @Messages("of") @user.username</h1>

<div>
    @Messages("gender"): @{user.gender match {
    case "q" => Messages("queer")
    case "m" => Messages("male")
    case "f" => Messages("female")
    case "n" => Messages("gender.na")
    }}
</div>

<div>
    @Messages("born") @Messages("on") @user.dateOfBirth.normalize
</div>

@Messages("about"):
<div class="well">
    @Html(user.description.escape)
</div>

<div>
    @Messages("registered") @Messages("since") @user.registrationDate.normalize
</div>

@if(user.invitedBy != "None") {
<div>
    @Messages("invited") @Messages("by") <a href="/users/user.invitedBy">
    @user.invitedBy</a>
</div>
}